/Python/Scripts/ForAutomation/GmailScan/credentials.json
/Python/Scripts/ForAutomation/GmailScan/token.pickle
/Python/Scripts/ForAutomation/GmailScan/token.json
/Python/Scripts/ForAutomation/ScreenNav/image_ref/
/Python/Scripts/ForAutomation/weather/config.py
/Python/Scripts/ForAutomation/weather/city.list.json
/Python/Scripts/ForAutomation/weather/4544349_weather.json
Python/Scripts/ForAutomation/weather/__pycache__/config.cpython-38.pyc
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/LearningEverythingInPython/v16/.suo
.vscode/settings.json