/Python/Scripts/ForAutomation/GmailScan/credentials.json
/Python/Scripts/ForAutomation/GmailScan/token.pickle
/Python/Scripts/ForAutomation/GmailScan/token.json
/Python/Scripts/ForAutomation/ScreenNav/image_ref/
/Python/Scripts/ForAutomation/weather/config.py
/Python/Scripts/ForAutomation/weather/city.list.json
/Python/Scripts/ForAutomation/weather/4544349_weather.json
Python/Scripts/ForAutomation/weather/__pycache__/config.cpython-38.pyc
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/LearningEverythingInPython/v16/.suo
.vscode/settings.json
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.AssemblyInfo.cs
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.AssemblyInfoInputs.cache
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.assets.cache
/CSharp/CrossPlatformDevBook/Code/Chapter01/Chapter01.csproj
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.csproj.CoreCompileInputs.cache
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.csproj.FileListAbsolute.txt
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Chapter01.csproj.nuget.dgspec.json
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Chapter01.csproj.nuget.g.props
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Chapter01.csproj.nuget.g.targets
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.csprojAssemblyReference.cache
/CSharp/CrossPlatformDevBook/Code/Chapter01/bin/Debug/netcoreapp3.1/Chapter01.deps.json
/CSharp/CrossPlatformDevBook/Code/Chapter01/bin/Debug/netcoreapp3.1/Chapter01.dll
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.dll
/CSharp/CrossPlatformDevBook/Code/Chapter01/bin/Debug/netcoreapp3.1/Chapter01.exe
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.exe
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.genruntimeconfig.cache
/CSharp/CrossPlatformDevBook/Code/Chapter01/bin/Debug/netcoreapp3.1/Chapter01.pdb
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/Debug/netcoreapp3.1/Chapter01.pdb
/CSharp/CrossPlatformDevBook/Code/Chapter01/bin/Debug/netcoreapp3.1/Chapter01.runtimeconfig.dev.json
/CSharp/CrossPlatformDevBook/Code/Chapter01/bin/Debug/netcoreapp3.1/Chapter01.runtimeconfig.json
/.vscode/launch.json
/CSharp/CrossPlatformDevBook/Code/Chapter01/Program.cs
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/project.assets.json
/CSharp/CrossPlatformDevBook/Code/Chapter01/obj/project.nuget.cache
/.vscode/tasks.json
